.herosec{
    background: url('https://res.cloudinary.com/dmpsrcunj/image/upload/v1730708562/softnio/Rectangle_4_1_ru9bsp.png'), linear-gradient(130deg, #BD1F17, #A51D13 ,#8E1B0F);
    /* overflow-x: hidden; */
}
.abouts{
    overflow-x: hidden;
}
.bookTable{
    background: url('https://res.cloudinary.com/dmpsrcunj/image/upload/v1730709148/softnio/diece_egp8ua.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{ 
    max-width: 1000px;
    margin: auto;
}
.footer{
    padding: 120px 0px;
    background-image: linear-gradient(30deg, #000000c9, #000c), url('https://res.cloudinary.com/dmpsrcunj/image/upload/v1730709557/softnio/footer_1_yn2qby.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}